/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .login-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.login-form-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
  }

  .login-form-div form div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px;
  }


 .login-form-div input {
     padding: 3px;
     margin: 2px;
     display: flex;
     width: 60%;
 }
 
 .login-form-div button {
     padding: 3px;
     margin: 2px;
     width: 60%;
     display: flex;
     justify-content: center;
 }
