.comments-ul {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    // height: 250px;
    // width: 375px;
    height: 44vh;
    width: 25vw;
    overflow: auto;
    // border-bottom: 1px solid rgb(189, 189, 189);
    // padding-bottom: 15px;
    // margin-bottom: 2px;
    padding-top: 5px;

}
.comment {
    display: flex;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
}

.comment > div {
    margin-left: auto;
}

.comment > div > img {
    cursor: pointer;
}

.delete-comment {
    text-align: center;
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: bold;
    margin-top: 22px;
    cursor: pointer;
}

.add-comment {
    // border-top: 1px solid rgb(189, 189, 189);
    // height: 43px;
    // width: 375px;
    // display: flex;
    // align-items: center;
    border-top: 1px solid #bdbdbd;
    /* margin-top: 10px; */
    height: 9vh;
    width: 28vw;
    display: flex;
    align-items: center;

}

.add-comment input:first-child {
    // width: 320px;
    width: 20vw;
    border: none;
    background-color: inherit;
    font-size: 17px;
    align-items: center;
    padding-bottom: 2px;
    padding-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.add-comment input:last-child {
    width: 8vw;
    background-color: inherit;
    border: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 17px;
    color: rgb(60, 120, 189);
    padding-right: 20px;
    cursor: pointer;
}

.comments-ul div:first-child {
    align-items: flex-start;
}

.comment-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 6px;
}

// 
