 .feed-main {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .feed-main img {
     height: 500px;
     width: 600px;
 }

 .feed-main > header > img {
     height: 50px;
    width: 50px;
    padding-left: 10px;
 }

 .feed-main > header {
     display: flex;
        align-items: center;
 }

 .feed-list {
    list-style: none;
 }
