 .feed-main {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .feed-main .post {
     height: 500px;
     width: 600px;
 }

 .feed-main > header > img {
    height: 50px;
    width: 50px;
    padding-left: 10px;
 }

 .feed-main > header {
     display: flex;
    align-items: center;
 }

 .feed-list {
    list-style: none;
    margin-top: 0;
 }

 .feed-list li {
     margin-bottom: 35px;
     background-color: white;
     border: 1px solid rgb(189, 189, 189);
 }

 //feedindexitem

 .feed-item-whole {
     display: flex;
     flex-direction: column;
 }

 .feed-item-whole > span {
    display: flex;
    align-items: center;
    padding: 12px;
 }

 .feed-item-whole a {
     margin-right: 8px;
     text-decoration: none;
     color: black;
     font-weight: bold;
 }

 caption {
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 12px;
    align-items: flex-start;
 }

 caption p {
     margin-top: 6px;
 }