.post-show-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-show-main {
    margin-top: 9%;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    height: 71.3vh;
    width: 64vw;
    background-color: white;
}

.post-show-row {
    display: flex;
    height: 71.3vh;
    width: 64vw;
}

.post-show-right {
    display: flex;
    flex-direction: column;
    width: 28vw;
    height: 71vh;
    border-bottom: 0.8px solid #d8d8d8d7;
    border-top: 0.8px solid #d8d8d8d7;
    border-right: 0.8px solid #d8d8d8d7;
    font-size: 15px;
}

.post-show-user {
    display: flex;
    align-items: center;
    border-bottom: 0.8px solid #d8d8d8d7;
    width: 28vw;
    height: 9vh;
}

.post-options {
    cursor: pointer;
    margin-left: auto;
    padding-right: 15px;
}

.post-show-user > p {
    
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.post-show-main .username {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 7px;
    cursor: pointer;
}

.post-show-user > .username {
    margin-left: 10px;
}

.post-show-user > .username > p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.owner-caption {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
}

.owner-caption p {
    margin-top: 0;
}


.profile-pic-small {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-left: 6px;
}

.profile-feed-img {
    max-width: 36vw;
    max-height: 71.3vh;
    min-width: 36vw;
    min-height: 71.3vh;
    // object-fit: cover;
}

.post-show-img {
    max-width: 36vw;
    max-height: 71.3vh;
    min-width: 36vw;
    min-height: 71.3vh;
    // object-fit: cover;
}