.post-options-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17%;
}
button {
    padding: 3px;
     margin: 2px;
     width: 75%;
     height: 30px;
     display: flex;
     justify-content: center;
     background-color: rgb(98, 150, 209);
     color: white;
     border-radius: 4px;
     border: none;
    align-self: center;
}

.post-options-main h3 {
    font-family: sans-serif;
}

.post-options-main > button:last-child {
    background-color: rgb(240, 88, 88);
}