.post-show-main {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.post-show-row {
    display: flex;
}

.post-show-right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
}

.post-show-user {
    display: flex;
}

.post-show-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}