

.profile-feed-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.profile-feed {
    list-style: none;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-self: center;
}

.profile-feed li {
    display: flex;
    margin-bottom: 5px;
    padding: 15px;
}

.profile-nav-wrapper {
    display: flex;
    justify-content: center;
}

.profile-nav  {
    margin-top: 7%;
    margin-bottom: 45px;
    height: 200px;
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-nav-right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-nav-right > div {
    padding-bottom: 10px;
}

.user-options {
    display: flex;
    align-items: center;
    width: 350px;
    height: 30px;
    margin-bottom: 5px;
    padding: 0px !important;
}

.profile-user-options {
    margin-left: 2px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: 75px;
    background-color: white;
}

.user-options #edit {
    width: 95px;
    background-color: white;
}

.username-display {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-left: 61px;
    padding-right: 15px;
}

.profile-pic {
    border: 1px solid black;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 100px;
    object-fit: cover;

}

.follow-button {
     padding: 5px;
     width: 30%;
     height: 30px;
     display: flex;
     justify-content: center;
     background-color: rgb(98, 150, 209);
     color: white;
     border-radius: 4px;
     border: none;
}

.follow-button > p {
    margin: 0;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.profile-stats {
    display: flex;
    align-items: flex-start;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-stats p {
    padding-right: 9px;
}


.profile-info {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-items: space-evenly;
    align-self: flex-start;
    align-content: flex-start;
    margin-left: 58px;
}

.profile-info p {
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 220px;
}

.profile-info p:first-child {
    font-weight: bold;
}

.no-user-error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-user-error p {
    font-size: 80px;
    font-family: serif;
}

.profile-feed-img {
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    object-fit: cover;
}



